.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-container {
        height: 100%;
        width: 70px;
        padding: 15px;
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .option {
            padding: 10px 15px;
            cursor: pointer;
        }
    }
    .logo {
        width: 70px;
        height: 70px;
        position: absolute;
    }
    .company-name {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        font-weight: bolder;
        font-size: larger;
        padding-top: 20px;
        text-align: left;
    }
}
